/* Intro Team Meeting */
h1{
    color: blueviolet;
}

/* Meet the Team */
h2{
    color: rgb(132, 146, 232);
}

/* Date and Most Headers */
h3{
    color: #96bbeb;
}

/* Background color */
body{
    background-color: hsl(191, 83%, 77%);
}

nav{
    margin-top: .25in;
    margin-bottom: 7mm;
    margin-left: 1.5vh;
    margin-right: 1.5vw;
    padding-top: 1mm;
    padding-bottom: 1mm;
    padding-left: 15px;
    padding-right: 10px;
}

/* Attendance Header and List */
#AttendanceGroup{
    margin: 10pt 10rem 10px 10px;
    padding: 5px 10px 5px 7px;
    border-style: groove;
    border-color: aquamarine;
    border-width: 100px;
    border-radius: 150px;
}

#AgendaGroup{
    margin: auto;
    min-width: 500px;
    max-width: 10000px;
    display: inline-block
}

li{
    color: #4287f5;
    font-family: 'Mukta', sans-serif;
}

#SongGroup{
    position: static;
}

.poster{
    position: relative;
    top: -7px;
    left: 20px;
}

#survey{
    height: 420px;
    width: 800px;
    display: inline;
}

button:hover{
    background-color: red;
    color: green;
}

button:active{
    background-color: blue;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgreen;
    gap: 35px;
}

.flex-container > div{
    background-color: lightcyan;
}

.grid-container{
    display: grid;
    grid-auto-rows: auto;
    gap: 50px;
    grid-auto-columns: auto;
    background-color: lightgoldenrodyellow;
    justify-content: center;
}

.grid-container > div{
    background-color: blanchedalmond;
}

@media screen and (max-width: 720px){
    body{
        background-color: white;
    }
}

*{
    outline-color: black;
    outline-width: 1pt;
    outline-style:solid
}

a[href="https://github.com/JohnnyPadungyothee"]{
    color:bisque;
}

h4, h5{
    background-color:cornflowerblue;
    color: lavenderblush;
}

footer p{
    background-color: yellow;
}

h4 + a{
    background-color: silver;
    color: gold;
}

h5 ~ p{
    background-color: gold;
    color: silver;
}

h5.yeet{
    background-color: black;
    color: salmon;
}
