/* Intro Team Meeting */
h1{
    color: blueviolet;
}

/* Meet the Team */
h2{
    color: rgb(132, 146, 232);
}

/* Date and Most Headers */
h3{
    color: #96bbeb;
}

/* Background color */
body{
    background-color: hsl(191, 83%, 77%);
}

/* 3 unique relative and absolute units */
/* margins & padding */
/* Navigation Links */
nav{
    margin-top: .25in;
    margin-bottom: 7mm;
    margin-left: 1.5vh;
    margin-right: 1.5vw;
    padding-top: 1mm;
    padding-bottom: 1mm;
    padding-left: 15px;
    padding-right: 10px;
}

/* Attendance Header and List */
#AttendanceGroup{
    margin: 10pt 10rem 10px 10px;
    padding: 5px 10px 5px 7px;
    border-style: groove;
    border-color: aquamarine;
    border-width: 100px;
    border-radius: 150px;
}

/*text decoration and align done inline in index.html */
/* summary color done in style element of index.html */
/* font in html file */

/* Agenda Header and List */
#AgendaGroup{
    margin: auto;
    min-width: 500px;
    max-width: 10000px;
    display: inline-block
}

/* All list items */
li{
    color: #4287f5;
    font-family: 'Mukta', sans-serif;
}

/* audio file */
#SongGroup{
    position: static;
}

/* poster file */
.poster{
    position: relative;
    top: -7px;
    left: 20px;
}

/* form and all of its elements */
#survey{
    height: 420px;
    width: 800px;
    display: inline;
}

/* submit button on form modifications; pseudo-class selector */
button:hover{
    background-color: red;
    color: green;
}

button:active{
    background-color: blue;
}

/* new business flex container & elements */
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgreen;
    gap: 35px;
}

.flex-container > div{
    background-color: lightcyan;
}

/* unfinished business grid container & elements */
.grid-container{
    display: grid;
    grid-auto-rows: auto;
    gap: 50px;
    grid-auto-columns: auto;
    background-color: lightgoldenrodyellow;
    justify-content: center;
}

/* child selector */
.grid-container > div{
    background-color: blanchedalmond;
}

/* white background if small width window; responsiveness */
@media screen and (max-width: 720px){
    body{
        background-color: white;
    }
}

/* place black outline on everything; universal */
*{
    outline-color: black;
    outline-width: 1pt;
    outline-style:solid
}

/* attribute selector */
a[href="https://github.com/JohnnyPadungyothee"]{
    color:bisque;
}

/* selector list */
h4, h5{
    background-color:cornflowerblue;
    color: lavenderblush;
}

/* descendant combinator */
footer p{
    background-color: yellow;
}

/* adjacent sibling combinator */
h4 + a{
    background-color: silver;
    color: gold;
}

/* general sibling combinator */
h5 ~ p{
    background-color: gold;
    color: silver;
}

/* combining two selectors */
h5.yeet{
    background-color: black;
    color: salmon;
}
